.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  background-color: blueviolet;
  width: 100%;

  button {
    all: unset;
    cursor: pointer;
  }
  nav {
    display: flex;
    gap: 1.3rem;
  }
}
.toggleMenuIcon {
  display: none;
}
@media only screen and (max-width: 440px) {
  .header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;

    nav {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
      background: hsl(0, 0, 100%, 0.1);
      backdrop-filter: blur(1rem);
      inset: 0 0 0 30%;
      transform: translateX(100%);
    }
    .toggleMenuIcon {
      z-index: 10;
      display: block;

      top: 1rem;
      right: 1rem;
      .displayNone {
        display: none;
      }
    }
    .showMenu {
      transform: translateX(-70%);
    }
  }
}
